[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
ckip-transformers = "*"
cwngraph = "*"
distiltag = "*"
cwnsensetagger = "*"
aiofiles = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
